All Onboard/flows/Employee_Onboarding_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Stage_Summary</name>
        <label>Assign Stage</label>
        <locationX>745</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the initial values for reused variables throughout the Flow</description>
        <name>Initial_Data_Assignment</name>
        <label>Initial Data Assignment</label>
        <locationX>50</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Flow_API_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee_Onboarding_Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Welcome_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_UI</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Employee Onboarding Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Employee Onboarding Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_UI</name>
        <label>Confirmation</label>
        <locationX>745</locationX>
        <locationY>339</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Letterhead</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Celebration</name>
            <extensionName>c:LightningConfettiCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_DISPLAY_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You are all set. We look forward to seeing you next week!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_DISPLAY_2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>AllOnboard_Congratulations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>All Done!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_UI</name>
        <label>Welcome</label>
        <locationX>50</locationX>
        <locationY>330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subflow_Welcome_FLOW</targetReference>
        </connector>
        <fields>
            <name>Welcome_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Letterhead</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Welcome</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_DISPLAY_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Hi there, we are excited to get you &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;i&gt;Onboard!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_DISPLAY_2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>AllOnboard_Welcome</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>border-radius: 5px;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_DISPLAY_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To ensure your on-boarding runs as smooth as possible, we are going to ask you for some boring (but important!) details. 🤓&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Let&apos;s get started!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>All Done!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Confirmation_STAGE</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Welcome_STAGE</name>
        <isActive>true</isActive>
        <label>Welcome!</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Initial_Data_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Emergency_Contact_Details_FLOW</name>
        <label>Emergency Contact Details</label>
        <locationX>373</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>Get_Financial_Details_FLOW</targetReference>
        </connector>
        <flowName>Subflow_Emergency_Contact_Details</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id_to_Retrieve_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id_to_Save_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Financial_Details_FLOW</name>
        <label>Get Financial Details</label>
        <locationX>373</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Identification_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Get_Financial_Details</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_Session_Id_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Identification_Subflow</name>
        <label>Identification</label>
        <locationX>553</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Review</targetReference>
        </connector>
        <flowName>Subflow_Get_Identification_Details</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_Session_Id_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Person_Details_FLOW</name>
        <label>Person Details</label>
        <locationX>201</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>Emergency_Contact_Details_FLOW</targetReference>
        </connector>
        <flowName>Subflow_Person_Details</flowName>
        <inputAssignments>
            <name>Record_Id_to_Retrieve_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id_to_Save_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Review</name>
        <label>Review</label>
        <locationX>553</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Assign_Stage_Summary</targetReference>
        </connector>
        <flowName>Subflow_Review</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id_to_Save_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Welcome_FLOW</name>
        <label>Welcome</label>
        <locationX>201</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Person_Details_FLOW</targetReference>
        </connector>
        <flowName>Subflow_Welcome_Get_Started</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Flow_Session.Id</assignToReference>
            <name>Record_Id_O</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Flow_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session__c</objectType>
    </variables>
</Flow>
