All Onboard/flows/Sample_Blank_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set the initial values for reused variables throughout the Flow</description>
        <name>Set_Initial_Data</name>
        <label>Set Initial Data</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Flow_API_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample_Blank_Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Welcome_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Screen_2_Stage</name>
        <label>Set Screen 2 Stage</label>
        <locationX>369</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_2_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Screen_3_Stage</name>
        <label>Set Screen 3 Stage</label>
        <locationX>684</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_3_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen3_UI</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sample_Blank_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sample Blank Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1_UI</name>
        <label>Screen1</label>
        <locationX>203</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Screen_2_Stage</targetReference>
        </connector>
        <fields>
            <name>Screen1_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen1_Letterhead</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Screen 1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen1_DISPLAY</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;This is a sample screen with the following custom components added for your convenience.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Scripts (default to custom metadata type)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Letterhead &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;(&apos;Default&apos; style and custom headline)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Footer (with base progress indicator)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Use this as a re-usable base template to build your own from scratch and clone it as needed.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_UI</name>
        <label>Screen2</label>
        <locationX>518</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Screen_3_Stage</targetReference>
        </connector>
        <fields>
            <name>Screen2_Letterhead</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Screen 2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen2_Progress</name>
            <extensionName>c:LightningFlowProgressIndicatorCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen2_DISPLAY</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;This is a sample screen with the following custom components added for your convenience.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;❖ &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Lightning Flow Letterhead &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;(&apos;Default&apos; style and custom headline)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Progress Indicator (base type)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Footer (without progress indicator)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Use this as a re-usable base template to build your own from scratch and clone it as needed.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen2_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3_UI</name>
        <label>Screen3</label>
        <locationX>833</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen3_Letterhead</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Screen 3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen3_Progress</name>
            <extensionName>c:LightningFlowProgressIndicatorCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen3_Confetti</name>
            <extensionName>c:LightningConfettiCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen3_DISPLAY</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;This is a sample screen with the following custom components added for your convenience.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;❖ &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Lightning Flow Letterhead (&apos;Default&apos; style and custom headline)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Progress Indicator (path type)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;❖ Lightning Confetti (basicCannon effect)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;❖ Lightning Flow &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Footer (with path progress indicator)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Use this as a re-usable base template to build your own from scratch and clone it as needed.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen3_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Screen_2_STAGE</name>
        <isActive>true</isActive>
        <label>Screen 2</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Screen_3_STAGE</name>
        <isActive>true</isActive>
        <label>Screen 3</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Welcome_STAGE</name>
        <isActive>true</isActive>
        <label>Welcome!</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Initial_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Flow_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
