All Onboard/flows/Subflow_Person_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <actionName>AllOnboard_GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Form_Values_ASSIGNMENT</targetReference>
        </connector>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Object_Name</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Form_Values_ASSIGN</name>
        <label>Assign Form Values</label>
        <locationX>1794</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>Date_of_Birth_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth_INPUT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gender_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender_INPUT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Personal_Details</name>
        <label>Assign Stage - Personal Details</label>
        <locationX>1124</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Details_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Details_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Form_Values_ASSIGNMENT</name>
        <label>Reset Form Values</label>
        <locationX>285</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>Date_of_Birth_O</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gender_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_Name_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Middle_Name_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salutation_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MobilePhone_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MailingStreet_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MailingCity_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MailingPostalCode_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MailingState_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MailingCountry_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Id_is_of_Type_LOGIC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Gender_Default_CHOICE</name>
        <choiceText>{!Gender_O}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Gender_O</elementReference>
        </value>
    </choices>
    <constants>
        <description>Account object</description>
        <name>OBJECT_ACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <description>Contact object</description>
        <name>OBJECT_CONTACT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>Flow session object</description>
        <name>OBJECT_FLOWSESSION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow_Session__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>Lead object</description>
        <name>OBJECT_LEAD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <description>User object</description>
        <name>OBJECT_USER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determine whether to retrieve the associated record before displaying screen</description>
        <name>Record_Id_is_of_Type_LOGIC</name>
        <label>Record Id is of Type</label>
        <locationX>389</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty or Unsupported</defaultConnectorLabel>
        <rules>
            <name>User_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_USER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_User_DATA</targetReference>
            </connector>
            <label>User Object</label>
        </rules>
        <rules>
            <name>Lead_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_LEAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Lead</targetReference>
            </connector>
            <label>Lead Object</label>
        </rules>
        <rules>
            <name>Contact_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_CONTACT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Contact_DATA</targetReference>
            </connector>
            <label>Contact Object</label>
        </rules>
        <rules>
            <name>Account_Person_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_ACCOUNT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Account_DATA</targetReference>
            </connector>
            <label>Account (Person) Object - Not Implemented</label>
        </rules>
        <rules>
            <name>Flow_Session_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_FLOWSESSION</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Session_DATA</targetReference>
            </connector>
            <label>Flow Session Object</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Session_DATA</name>
        <label>Save Session</label>
        <locationX>1536</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_Record_Id_is_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Id_to_Save_I</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Form_Values_ASSIGN</targetReference>
            </connector>
            <label>Save Record Id is provided</label>
        </rules>
    </decisions>
    <description>Capture Person Details - stage test</description>
    <dynamicChoiceSets>
        <name>Gender_CHOICE_SET</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Flow_Session__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Object_Prefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!Record_Id_to_Retrieve_I}, 3)</expression>
    </formulas>
    <interviewLabel>Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - Person Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_Account_DATA</name>
        <label>Retrieve Account - Not Implemented</label>
        <locationX>620</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </connector>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Contact_DATA</name>
        <label>Retrieve Contact</label>
        <locationX>624</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Date_of_Birth_O</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_O</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name_O</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name_O</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCity_O</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCountry_O</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingPostalCode_O</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingState_O</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStreet_O</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhone_O</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Salutation_O</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Lead</name>
        <label>Retrieve Lead</label>
        <locationX>511</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>MailingCity_O</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCountry_O</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_O</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name_O</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name_O</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhone_O</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingPostalCode_O</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Salutation_O</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingState_O</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStreet_O</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the associated session record</description>
        <name>Retrieve_Session_DATA</name>
        <label>Retrieve Session</label>
        <locationX>715</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </filters>
        <object>Flow_Session__c</object>
        <outputAssignments>
            <assignToReference>Date_of_Birth_O</assignToReference>
            <field>Date_of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_O</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name_O</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Gender_O</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name_O</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCity_O</assignToReference>
            <field>MailingCity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCountry_O</assignToReference>
            <field>MailingCountry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingPostalCode_O</assignToReference>
            <field>MailingPostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingState_O</assignToReference>
            <field>MailingState__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStreet_O</assignToReference>
            <field>MailingStreet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Middle_Name_O</assignToReference>
            <field>Middle_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhone_O</assignToReference>
            <field>MobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Salutation_O</assignToReference>
            <field>Salutation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_User_DATA</name>
        <label>Retrieve User</label>
        <locationX>510</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Personal_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MailingCity_O</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCountry_O</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_O</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name_O</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name_O</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MobilePhone_O</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingPostalCode_O</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingState_O</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStreet_O</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Flow Session</description>
        <name>Update_Record_DATA</name>
        <label>Update Record</label>
        <locationX>2059</locationX>
        <locationY>254</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Save_I</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity__c</field>
            <value>
                <elementReference>MailingCity_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry__c</field>
            <value>
                <elementReference>MailingCountry_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode__c</field>
            <value>
                <elementReference>MailingPostalCode_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState__c</field>
            <value>
                <elementReference>MailingState_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet__c</field>
            <value>
                <elementReference>MailingStreet_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Middle_Name_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>MobilePhone_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Salutation_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Flow_Session__c</object>
    </recordUpdates>
    <screens>
        <name>Person_Details_UI</name>
        <label>Person Details</label>
        <locationX>1320</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Session_DATA</targetReference>
        </connector>
        <fields>
            <name>Person_Details_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>L1</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Person Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_INPUT</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,middleName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <stringValue>Mr,Mrs,Miss,Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>First_Name_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Last_Name_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <elementReference>Middle_Name_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>Salutation_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>First_Name_O</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Middle_Name_O</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Salutation_O</assignToReference>
                <name>salutation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Last_Name_O</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Date_of_Birth_INPUT</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_of_Birth_O</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender_INPUT</name>
            <choiceReferences>Gender_CHOICE_SET</choiceReferences>
            <choiceReferences>Gender_Default_CHOICE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Gender_Default_CHOICE</defaultSelectedChoiceReference>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_INPUT</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email_O</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Email_O</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mobile_Phone_INPUT</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>MobilePhone_O</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MobilePhone_O</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Address_INPUT</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>MailingCity_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>MailingCountry_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Mailing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>MailingPostalCode_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>MailingState_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>MailingStreet_O</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MailingCity_O</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MailingCountry_O</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MailingPostalCode_O</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MailingState_O</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MailingStreet_O</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Person_Details_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save &amp; Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Personal_Details_STAGE</name>
        <isActive>true</isActive>
        <label>Personal Details</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Flow_Description_TEMPLATE</name>
        <text>blah {!Personal_Details_STAGE}</text>
    </textTemplates>
    <variables>
        <name>Date_of_Birth_O</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>First_Name_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_API_Name_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>An active flow session record</description>
        <name>Flow_Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session__c</objectType>
    </variables>
    <variables>
        <name>Gender_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Last_Name_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingCity_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingCountry_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingPostalCode_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingState_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingStreet_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Middle_Name_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhone_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Object_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contextual record id</description>
        <name>Record_Id_to_Retrieve_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Id_to_Save_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Salutation_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
