All Onboard/flows/Subflow_Get_Financial_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Stage_Financial_Details</name>
        <label>Assign Stage - Financial Details</label>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Details_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Financial_Details_UI</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - Get Financial Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Financial_Details_UI</name>
        <label>Financial Details</label>
        <locationX>314</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Financial_Details_Script</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Financial_Details_Header</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Financial Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinancialDetailsCmp</name>
            <extensionName>c:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>Finance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>Flow_Session_Id_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Financial_Details_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Financial_Details_STAGE</name>
        <isActive>true</isActive>
        <label>Financial Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Stage_Financial_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Flow_API_Name_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Session_Id_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
