All Onboard/flows/Utility_Flow_Create_Records_from_Flow_Session.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_File_to_New_List</name>
        <label>Add File to New List</label>
        <locationX>871</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>New_Content_Document_Links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Document_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Details</name>
        <label>Assign Contact Details</label>
        <locationX>106</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Salutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_File_to_New_Parent</name>
        <label>Assign File to New Parent</label>
        <locationX>872</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_Link.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_Document_Link.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Files_Destination_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_File_to_New_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Details</name>
        <label>Assign Lead Details</label>
        <locationX>438</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Salutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.MailingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Catch_Fault</name>
        <label>Catch Fault</label>
        <locationX>1283</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Used to specify the record id that the attached files are being copied over to. May be your own application record or onboarding record</description>
        <name>Set_File_Destination_To_Contact_Id</name>
        <label>Set File Destination To Contact Id</label>
        <locationX>272</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>Files_Destination_Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Flow_Session_Files_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to specify the record id that the attached files are being copied over to. May be your own application record or onboarding record</description>
        <name>Set_File_Destination_To_Lead_Id</name>
        <label>Set File Destination To Lead Id</label>
        <locationX>600</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>Files_Destination_Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Flow_Session_Files_DATA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Contact_LOGIC</name>
        <label>Found Contact?</label>
        <locationX>212</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Contact_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_File_Destination_To_Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead_LOGIC</name>
        <label>Found Lead?</label>
        <locationX>539</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lead_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_File_Destination_To_Lead_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used to automate the creation of records from the completed Flow Session. The template will check if a Contact with the details exists, if not, create a Contact, then attach the Flow Session Documents to the Contact record. Lead creation sample is also provided.

Clone and use this in conjunction with Process Builder, Approval Processes, or any other business rules tied to your onboarding/application processes.</description>
    <interviewLabel>Utility Flow - Create Records from Flow Session {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Utility Flow - Create Records from Flow Session</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>731</locationX>
        <locationY>883</locationY>
        <assignNextValueToReference>Content_Document_Link</assignNextValueToReference>
        <collectionReference>Get_Flow_Session_Files_DATA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_File_to_New_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_File_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Lead</label>
        <locationX>438</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Set_File_Destination_To_Lead_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact_DATA</name>
        <label>Create New Contact</label>
        <locationX>106</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Set_File_Destination_To_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_File_Links</name>
        <label>Create New File Links</label>
        <locationX>730</locationX>
        <locationY>1053</locationY>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <inputReference>New_Content_Document_Links</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>105</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact_LOGIC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Session_Files_DATA</name>
        <label>Get Flow Session Files</label>
        <locationX>592</locationX>
        <locationY>883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <queriedFields>Visibility</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Session_Record_DATA</name>
        <label>Get Flow Session Record</label>
        <locationX>413</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_ID_I</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Session__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Middle_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>MobilePhone__c</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Salutation__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>MailingStreet__c</queriedFields>
        <queriedFields>MailingCity__c</queriedFields>
        <queriedFields>MailingPostalCode__c</queriedFields>
        <queriedFields>MailingState__c</queriedFields>
        <queriedFields>MailingCountry__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Preferred_Name__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Emergency_First_Name__c</queriedFields>
        <queriedFields>Emergency_Last_Name__c</queriedFields>
        <queriedFields>Emergency_Email__c</queriedFields>
        <queriedFields>Emergency_Phone__c</queriedFields>
        <queriedFields>Emergency_Relationship__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>439</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead_LOGIC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Catch_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flow_Session_Record_DATA.Email__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Flow_Session_Record_DATA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Content_Document_Link</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Files_Destination_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>New_Content_Document_Links</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Record_ID_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
