All Onboard/flows/Utility_Flow_Generate_Two_Factor_Authentication_Code.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_2FA_Code</name>
        <label>Generate 2FA Code</label>
        <locationX>203</locationX>
        <locationY>627</locationY>
        <actionName>AllOnboard_CodeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Authenticate_UI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_2FA_Fault_UI</targetReference>
        </faultConnector>
        <inputParameters>
            <name>expiryFieldName</name>
            <value>
                <elementReference>Authentication_Code_Expiry_Field_Setting.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>Authentication_Code_Field_Setting.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>codeLength</name>
            <value>
                <elementReference>Authentication_Code_Length_Setting.Number_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiryDuration</name>
            <value>
                <elementReference>Authentication_Code_Expiry_Duration_Setting.Number_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAlphanumeric</name>
            <value>
                <elementReference>Authentication_Code_Include_Letters_Setting.Boolean_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>Authentication_Object_Field_Setting.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Record_Id_I</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Stage_Authenticate_ASSIGNMENT</name>
        <label>Assign Stage - Authenticate</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authenticate_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Existing_2FA_Code_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Placed at the end to handle if the user goes &apos;Back&apos; from the following screen so the error will not show up</description>
        <name>Hide_Error_LOGIC</name>
        <label>Hide Error</label>
        <locationX>744</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Show_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Show_Error_LOGIC</name>
        <label>Show Error</label>
        <locationX>952</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>Show_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authenticate_UI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Enter_Code_CHOICE</name>
        <choiceText>{!Enter_Code_LABEL}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>{!Your_Code_LABEL}</promptText>
        </userInput>
        <value>
            <stringValue>Enter Code</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reset_Code_CHOICE</name>
        <choiceText>{!Reset_Code_LABEL}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reset</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_2FA_Code_LOGIC</name>
        <label>Check 2FA Code</label>
        <locationX>943</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Show_Error_LOGIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect</defaultConnectorLabel>
        <rules>
            <name>Backdoor_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Session_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Session_Setting.Text_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entered_Code_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_2FA_Code_DATA</targetReference>
            </connector>
            <label>Backdoor</label>
        </rules>
        <rules>
            <name>Correct_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entered_Code_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Authentication_Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_2FA_Code_DATA</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Code_Action</name>
        <label>Code Action</label>
        <locationX>543</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Retrieve_2FA_Code_DATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validate</defaultConnectorLabel>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Authentication_Code_INPUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reset_Code_CHOICE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Existing_2FA_Code_DATA</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <description>- Generate and check for the correct 2FA input on the Flow Session object
- Backdoor access is available via Flow Session Settings metadata type</description>
    <formulas>
        <name>Enter_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_enter_code}</expression>
    </formulas>
    <formulas>
        <name>Incorrect_Authentication_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>IF({!Show_Error_Message}, {!$Label.screen_error_incorrect_authentication_code}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Input_Label_Authentication_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_input_authentication_code}</expression>
    </formulas>
    <formulas>
        <name>Reset_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_reset_code}</expression>
    </formulas>
    <formulas>
        <name>Sent_Authentication_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_subheading_sent_authentication_code}</expression>
    </formulas>
    <formulas>
        <name>Your_Code_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_input_your_code}</expression>
    </formulas>
    <interviewLabel>Utility Flow - Generate Two Factor Authentication Code {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Utility Flow - Generate Two Factor Authentication Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_2FA_Code_DATA</name>
        <label>Retrieve 2FA Code</label>
        <locationX>742</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_2FA_Backdoor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_2FA_Fault_UI</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_I</elementReference>
            </value>
        </filters>
        <filters>
            <field>Two_Factor_Authentication_Expiry__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Flow_Session__c</object>
        <outputAssignments>
            <assignToReference>Authentication_Code</assignToReference>
            <field>Two_Factor_Authentication_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_2FA_Code_DATA</name>
        <label>Clear 2FA Code</label>
        <locationX>743</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Hide_Error_LOGIC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_2FA_Fault_UI</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_I</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Two_Factor_Authentication_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Two_Factor_Authentication_Expiry__c</field>
        </inputAssignments>
        <object>Flow_Session__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Existing_2FA_Code_DATA</name>
        <label>Clear Existing 2FA Code</label>
        <locationX>203</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Get_2FA_Expiry_Duration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Generate_2FA_Fault_UI</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_I</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Two_Factor_Authentication_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Two_Factor_Authentication_Expiry__c</field>
        </inputAssignments>
        <object>Flow_Session__c</object>
    </recordUpdates>
    <screens>
        <name>Authenticate_UI</name>
        <label>Authenticate</label>
        <locationX>551</locationX>
        <locationY>635</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Code_Action</targetReference>
        </connector>
        <fields>
            <name>Authenticate_Script</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authenticate_Header</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Authentication</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authentication_Code_Subheading_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Sent_Authentication_Code_LABEL}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incorrect_Authentication_Code_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 53, 53);&quot;&gt;{!Incorrect_Authentication_Code_LABEL}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Authentication_Code_INPUT</name>
            <choiceReferences>Enter_Code_CHOICE</choiceReferences>
            <choiceReferences>Reset_Code_CHOICE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Enter_Code_CHOICE</defaultSelectedChoiceReference>
            <fieldText>{!Input_Label_Authentication_Code_LABEL}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authenticate_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Generate_2FA_Fault_UI</name>
        <label>Generate 2FA Fault</label>
        <locationX>450</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Script</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fault_Header</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Oops! An error occurred</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Generate_2FA_Fault_DISPLAY</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Authenticate_STAGE</name>
        <isActive>true</isActive>
        <label>Authenticate</label>
        <stageOrder>50</stageOrder>
    </stages>
    <startElementReference>Assign_Stage_Authenticate_ASSIGNMENT</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_2FA_Backdoor</name>
        <label>Get 2FA Backdoor</label>
        <locationX>951</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Check_2FA_Code_LOGIC</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Backdoor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Flow_Session_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Code_Expiry_Field</name>
        <label>Get 2FA Code Expiry Field</label>
        <locationX>48</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Get_2FA_Include_Letters_Field</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Code Expiry Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Code_Expiry_Field_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Code_Field</name>
        <label>Get 2FA Code Field</label>
        <locationX>202</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Get_2FA_Code_Expiry_Field</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Code Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Code_Field_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Code_Length</name>
        <label>Get 2FA Code Length</label>
        <locationX>48</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Get_2FA_Object_Field</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Length</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Code_Length_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Expiry_Duration</name>
        <label>Get 2FA Expiry Duration</label>
        <locationX>48</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Get_2FA_Code_Length</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Expiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Code_Expiry_Duration_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Include_Letters_Field</name>
        <label>Get 2FA Include Letters Field</label>
        <locationX>48</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>Generate_2FA_Code</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Include Letters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Code_Include_Letters_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_2FA_Object_Field</name>
        <label>Get 2FA Object Field</label>
        <locationX>202</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Get_2FA_Code_Field</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA Object Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Authentication_Object_Field_Setting</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Stores the Two Factor Authentication Code from the record used to compare with the user input</description>
        <name>Authentication_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Authentication_Code_Expiry_Duration_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Authentication_Code_Expiry_Field_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Authentication_Code_Field_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Authentication_Code_Include_Letters_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Authentication_Code_Length_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Authentication_Object_Field_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Entered_Code_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_Code_CHOICE</elementReference>
        </value>
    </variables>
    <variables>
        <name>Flow_API_Name_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Session_Setting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>Record_Id_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show_Error_Message</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
