src/flows/Subflow_Emergency_Contact_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>50</locationX>
        <locationY>266</locationY>
        <actionName>AllOnboard_GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Form_Values_ASSIGNMENT</targetReference>
        </connector>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Object_Name</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Form_Values_ASSIGN</name>
        <label>Assign Form Values</label>
        <locationX>1219</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>Relationship_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_INPUT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Emergency_Contact</name>
        <label>Assign Stage - Emergency Contact</label>
        <locationX>714</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Details_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emergency_Contact_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Form_Values_ASSIGNMENT</name>
        <label>Reset Form Values</label>
        <locationX>159</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>First_Name_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Relationship_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Id_is_of_Type_LOGIC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Relationship_Default_CHOICE</name>
        <choiceText>{!Relationship_O}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Relationship_O</elementReference>
        </value>
    </choices>
    <constants>
        <description>Flow session object</description>
        <name>OBJECT_FLOWSESSION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow_Session__c</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determine whether to retrieve the associated record before displaying screen</description>
        <name>Record_Id_is_of_Type_LOGIC</name>
        <label>Record Id is of Type</label>
        <locationX>263</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_Emergency_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty or Unsupported</defaultConnectorLabel>
        <rules>
            <name>Flow_Session_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OBJECT_FLOWSESSION</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Session_DATA</targetReference>
            </connector>
            <label>Flow Session Object</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Session_DATA</name>
        <label>Save Session</label>
        <locationX>1007</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_Record_Id_is_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Id_to_Save_I</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Form_Values_ASSIGN</targetReference>
            </connector>
            <label>Save Record Id is provided</label>
        </rules>
    </decisions>
    <description>Capture Emergency Contact Details</description>
    <dynamicChoiceSets>
        <name>Relationship_CHOICE_SET</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Relationship__c</picklistField>
        <picklistObject>Flow_Session__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - Emergency Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve the associated session record</description>
        <name>Retrieve_Session_DATA</name>
        <label>Retrieve Session</label>
        <locationX>501</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_Emergency_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Retrieve_I</elementReference>
            </value>
        </filters>
        <object>Flow_Session__c</object>
        <outputAssignments>
            <assignToReference>Email_O</assignToReference>
            <field>Emergency_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name_O</assignToReference>
            <field>Emergency_First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name_O</assignToReference>
            <field>Emergency_Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Phone_O</assignToReference>
            <field>Emergency_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Relationship_O</assignToReference>
            <field>Emergency_Relationship__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Flow Session</description>
        <name>Update_Record_DATA</name>
        <label>Update Record</label>
        <locationX>1375</locationX>
        <locationY>267</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id_to_Save_I</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_Email__c</field>
            <value>
                <elementReference>Email_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_First_Name__c</field>
            <value>
                <elementReference>First_Name_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Last_Name__c</field>
            <value>
                <elementReference>Last_Name_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Phone__c</field>
            <value>
                <elementReference>Phone_O</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Relationship__c</field>
            <value>
                <elementReference>Relationship_O</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Session__c</object>
    </recordUpdates>
    <screens>
        <name>Emergency_Contact_UI</name>
        <label>Emergency Contact</label>
        <locationX>858</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Session_DATA</targetReference>
        </connector>
        <fields>
            <name>Emergency_Contact_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>L1</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Emergency Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_INPUT</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>First_Name_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Last_Name_O</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>First_Name_O</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Last_Name_O</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Relationship_INPUT</name>
            <choiceReferences>Relationship_CHOICE_SET</choiceReferences>
            <choiceReferences>Relationship_Default_CHOICE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Relationship_Default_CHOICE</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_INPUT</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email_O</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Email_O</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone_INPUT</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Phone_O</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Phone_O</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Emergency_Contact_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save &amp; Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Emergency_Contact_Details_STAGE</name>
        <isActive>true</isActive>
        <label>Emergency Contact Details</label>
        <stageOrder>35</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Flow_Description_TEMPLATE</name>
        <text>blah {!Emergency_Contact_Details_STAGE}</text>
    </textTemplates>
    <variables>
        <name>Email_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>First_Name_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flow_API_Name_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>An active flow session record</description>
        <name>Flow_Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session__c</objectType>
    </variables>
    <variables>
        <name>Last_Name_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Object_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contextual record id</description>
        <name>Record_Id_to_Retrieve_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Id_to_Save_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Relationship_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
