src/flows/Subflow_Welcome_Get_Started.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Email_to_Flow_Session_ASSIGNMENT</name>
        <label>Assign Email to Flow Session</label>
        <locationX>580</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>Flow_Session.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flow_Session.Flow_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Session_DATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Select_Session</name>
        <label>Assign Stage</label>
        <locationX>734</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Session_STAGE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Session_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sessions_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Welcome</name>
        <label>Assign Stage</label>
        <locationX>49</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Let_s_Get_Started_STAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Let_s_Get_Started_UI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Turn OFF the &apos;Show Error&apos; flag to appear on the initial screen</description>
        <name>Hide_No_Matches_Found_Error_ASSIGNMENT</name>
        <label>Hide No Matches Found Error</label>
        <locationX>407</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Show_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Check_2FA_Session_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the recordId variable to the selected Flow Session Id to be returned to the parent calling this Flow</description>
        <name>Set_Output_Record_Id_ASSIGNMENT</name>
        <label>Set Output Record Id</label>
        <locationX>972</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>Record_Id_O</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Turn ON the &apos;Show Error&apos; flag to appear on the initial screen</description>
        <name>Show_No_Matches_Found_Error_ASSIGNMENT</name>
        <label>Show No Matches Found Error</label>
        <locationX>195</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>Show_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Let_s_Get_Started_UI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New_CHOICE</name>
        <choiceText>{!Input_Choice_New_LABEL}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>{!Input_Choice_Email_Address_LABEL}</promptText>
        </userInput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resume_CHOICE</name>
        <choiceText>{!Input_Choice_Resume_LABEL}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>{!Input_Choice_Email_Address_LABEL}</promptText>
        </userInput>
        <value>
            <stringValue>Resume</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Find_Latest_Flow_Session_LOGIC</name>
        <label>Find Latest Flow Session</label>
        <locationX>399</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Hide_No_Matches_Found_Error_ASSIGNMENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Session Was Found</defaultConnectorLabel>
        <rules>
            <name>No_Sessions_Found_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_No_Matches_Found_Error_ASSIGNMENT</targetReference>
            </connector>
            <label>No Sessions Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Using the retrieved &apos;2FA&apos; custom metadata Flow Session Setting, decide if 2FA needs to be run</description>
        <name>Is_2FA_Set_LOGIC</name>
        <label>Is 2FA Set?</label>
        <locationX>847</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Session_LOGIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2FA_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Session_Setting_CONFIG.Boolean_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Generate_2FA_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resume_Session_LOGIC</name>
        <label>Resume Session</label>
        <locationX>398</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_to_Flow_Session_ASSIGNMENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Resume_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resume_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Or_Resume_Session_INPUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resume_CHOICE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Flow_Session_Record_DATA</targetReference>
            </connector>
            <label>Resume</label>
        </rules>
        <rules>
            <name>Resume_Session_Name_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Or_Resume_Session_INPUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resume_CHOICE</elementReference>
                </rightValue>
            </conditions>
            <label>Resume Session Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Session_LOGIC</name>
        <label>Retrieve Session</label>
        <locationX>964</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Record_Id_ASSIGNMENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Session</defaultConnectorLabel>
        <rules>
            <name>Resume_With_Email_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resume_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Or_Resume_Session_INPUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resume_CHOICE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Select_Session</targetReference>
            </connector>
            <label>Resume With Email</label>
        </rules>
        <rules>
            <name>With_Session_Name_OUTCOME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Or_Resume_Session_INPUT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resume_CHOICE</elementReference>
                </rightValue>
            </conditions>
            <label>With Session Name</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Flow_Sessions_CHOICE_SET</name>
        <dataType>String</dataType>
        <displayField>Description__c</displayField>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Resume_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Flow_Session__c</object>
        <outputAssignments>
            <assignToReference>Flow_Session.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Input_Choice_Email_Address_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_input_email_address}</expression>
    </formulas>
    <formulas>
        <name>Input_Choice_New_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_new}</expression>
    </formulas>
    <formulas>
        <name>Input_Choice_Resume_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.choice_resume}</expression>
    </formulas>
    <formulas>
        <name>Input_Label_Session_Options_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_input_session_options}</expression>
    </formulas>
    <formulas>
        <name>Input_Select_Session_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_input_select_session}</expression>
    </formulas>
    <formulas>
        <name>No_Sessions_Found_Message_LABEL</name>
        <dataType>String</dataType>
        <expression>IF({!Show_Error}, {!$Label.screen_message_no_sessions_found}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Sessions_Found_Message_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_message_sessions_found}</expression>
    </formulas>
    <formulas>
        <name>Welcome_Heading_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_heading_welcome}</expression>
    </formulas>
    <formulas>
        <name>Welcome_Subheading_LABEL</name>
        <dataType>String</dataType>
        <expression>{!$Label.screen_subheading_welcome}</expression>
    </formulas>
    <interviewLabel>Subflow - Welcome {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Subflow - Welcome &amp; Get Started</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flow_Session_DATA</name>
        <label>Create Flow Session</label>
        <locationX>580</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>Subflow_Check_2FA_Session_Setting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_UI</targetReference>
        </faultConnector>
        <inputReference>Flow_Session</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Attempt to retrieve a Flow Session record matching the email and unique Flow API Name set to decide to proceed</description>
        <name>Get_Latest_Flow_Session_Record_DATA</name>
        <label>Get Latest Flow Session Record</label>
        <locationX>407</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Latest_Flow_Session_LOGIC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_UI</targetReference>
        </faultConnector>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Resume_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Flow_Session__c</object>
        <outputReference>Flow_Session</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Fault_Screen_UI</name>
        <label>Fault Screen</label>
        <locationX>48</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Script</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>L2</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Oops</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fault_DISPLAY</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Let_s_Get_Started_UI</name>
        <label>Let&apos;s Get Started</label>
        <locationX>195</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Resume_Session_LOGIC</targetReference>
        </connector>
        <fields>
            <name>Let_s_Get_Started_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>L1</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Let&apos;s Get Started</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Let_s_Get_Started_Subheading_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Welcome_Subheading_LABEL}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Sessions_Found_Message_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 53, 53); font-size: 14px;&quot;&gt;{!No_Sessions_Found_Message_LABEL}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Or_Resume_Session_INPUT</name>
            <choiceReferences>New_CHOICE</choiceReferences>
            <choiceReferences>Resume_CHOICE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>New_CHOICE</defaultSelectedChoiceReference>
            <fieldText>{!Input_Label_Session_Options_LABEL}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Let_s_Get_Started_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sessions_UI</name>
        <label>Sessions</label>
        <locationX>734</locationX>
        <locationY>165</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Output_Record_Id_ASSIGNMENT</targetReference>
        </connector>
        <fields>
            <name>Sessions_Scripts</name>
            <extensionName>c:LightningFlowScriptsCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>styleScopeClass</name>
                <value>
                    <stringValue>lightning-flow-scope</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowAPIName</name>
                <value>
                    <elementReference>Flow_API_Name_I</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>L3</name>
            <extensionName>c:FlowScreenLetterHeadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headline</name>
                <value>
                    <stringValue>Select Session</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sessions_Found_DISPLAY</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Sessions_Found_Message_LABEL}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Session_INPUT</name>
            <choiceReferences>Flow_Sessions_CHOICE_SET</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Input_Select_Session_LABEL}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Session_Footer</name>
            <extensionName>c:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Let_s_Get_Started_STAGE</name>
        <isActive>true</isActive>
        <label>Let&apos;s Get Started</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Session_STAGE</name>
        <isActive>false</isActive>
        <label>Select Session</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Stage_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Check_2FA_Session_Setting</name>
        <label>Check 2FA Session Setting</label>
        <locationX>580</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Is_2FA_Set_LOGIC</targetReference>
        </connector>
        <flowName>Utility_Flow_Get_Session_Settings</flowName>
        <inputAssignments>
            <name>Configuration_Name_I</name>
            <value>
                <stringValue>2FA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Flow_Session_Setting_CONFIG</assignToReference>
            <name>Flow_Session_Setting_O</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Generate_2FA_Code</name>
        <label>Generate 2FA Code</label>
        <locationX>1085</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>Retrieve_Session_LOGIC</targetReference>
        </connector>
        <flowName>Utility_Flow_Generate_Two_Factor_Authentication_Code</flowName>
        <inputAssignments>
            <name>Flow_API_Name_I</name>
            <value>
                <elementReference>Flow_API_Name_I</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id_I</name>
            <value>
                <elementReference>Flow_Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>New_CHOICE</elementReference>
        </value>
    </variables>
    <variables>
        <name>Flow_API_Name_I</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session__c</objectType>
    </variables>
    <variables>
        <name>Flow_Session_Setting_CONFIG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Session_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>New_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>New_CHOICE</elementReference>
        </value>
    </variables>
    <variables>
        <name>Record_Id_O</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Resume_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Resume_CHOICE</elementReference>
        </value>
    </variables>
    <variables>
        <name>Show_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
